<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weazel News</title>
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Playfair+Display+SC:wght@900&family=Playfair+Display:ital,wght@0,800;1,800&family=Manrope:wght@800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
    />
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="main__wrapper">
      <main>
        <!-- <h1>The Codepen Times</h1> -->
        <div class="main__logo">
            <img src="<%= logoUrl %>" alt="Main Logo">
        </div>
        <aside>
          <div>
            <div class="issue">Edición #1</div>
            <div class="class-date"><span id="class-date"></span></div>
            <div class="edition">Dando las <b>VERDADERAS</b> noticias</div>
          </div>
        </aside>
        <h2 class="title--large main-title">
          ¡Temporada de Caza en Blaine County!
        </h2>
        <div class="main-text multi-column">
          <p>
            La emoción está en el aire en Blaine County mientras los residentes
            se preparan para la esperada apertura de la temporada de caza. Este
            año, el Departamento de Vida Silvestre ha anunciado una temporada
            excepcionalmente larga y una lista expandida de presas, incluidos
            ciervos, jabalíes, coyotes y más.
          </p>
          <p>
            Para aquellos que no participan en la caza, esta temporada ofrece
            una oportunidad única para disfrutar de la belleza natural de Blaine
            County y apoyar la tradición local. Se anima a los no cazadores a
            disfrutar de caminatas escénicas, paseos en bicicleta y observación
            de vida silvestre en áreas designadas.
          </p>
          <p>
            <em
              >Recordemos cazar de manera responsable y respetuosa, manteniendo
              siempre la seguridad en mente. Que esta temporada traiga buenos
              recuerdos y experiencias para todos los que participan,</em
            >
            dijo el Alcalde.
          </p>
        </div>
        <a class="terrarium" href="javascript:void(0)">
          <figure>
            <img
              src="https://media.discordapp.net/attachments/1204830926434078750/1205731051586981948/mundstock_realistic_and_detailed_cartoon_style_a_person_hunting_6f557612-cd72-4f8d-8a44-0f186352f695.png?ex=65d96f8c&is=65c6fa8c&hm=50b06d087187e477201017dfcc8e21e2ccd7f269783aed773c966d331cd0cffb&=&format=webp&quality=lossless&width=445&height=445"
            />
            <figcaption>
              Temporada de Caza Abierta en todo el condado de Blane
            </figcaption>
          </figure></a
        ><a
          class="item-with-image plan span--2 long--2"
          href="javascript:void(0)"
          ><img
            class="mid__wide"
            src="https://media.discordapp.net/attachments/1204830926434078750/1205736714753277952/mundstock_realistic_and_detailed_cartoon_style_a_crime_scene_on_041190ee-4d3f-407b-87fb-4725fd142d1a.png?ex=65d974d2&is=65c6ffd2&hm=5fad2c910002805cd054bc24ecff483c086a6e0df77fd2f2ccb52f29b74418b8&=&format=webp&quality=lossless&width=556&height=445"
          />
          <h4>Tensiones entre Pandillas Estallan en Chamberlain Hills</h4>
          <div class="multi-column">
            <p>
              Las tranquilas calles de Chamberlain Hills estallaron en caos
              anoche mientras retumbaban los disparos por el vecindario. Fuentes
              indican que las tensiones entre las pandillas rivales, los Ballas
              y las Familias, alcanzaron un punto crítico, resultando en un
              enfrentamiento violento que dejó varios heridos y edificios
              dañados. Las autoridades instan a los residentes a permanecer en
              sus hogares y reportar cualquier actividad sospechosa. El
              Departamento de Policía de Los Santos ha aumentado las patrullas
              en el área para prevenir más violencia.
            </p>
          </div></a
        ><a class="hogwarts" href="javascript:void(0)">
          <div class="hogwarts__title">
            50% de Descuento en Resort de Diamond Casino
          </div>
          <div class="hogwarts__image">
            <span>Limited time offer</span
            ><img
              src="https://media.discordapp.net/attachments/1204830926434078750/1205739255218053211/mundstock_realistic_and_detailed_cartoon_style_coupon_discount__a9f14ef4-d9ce-4898-8931-f19e7cc6bd19.png?ex=65d9772f&is=65c7022f&hm=10a7b7ea174c29b651a18ee4c05d9ef292ef93459a9a02e0ae24961c8f17a468&=&format=webp&quality=lossless&width=254&height=445"
            /></div></a
        ><a class="item-with-image pasta with-border" href="javascript:void(0)">
          <h4>Vacas Escapan de la Granja</h4>
          <p>
            Una manada de vacas escapó de una granja cercana y decidió hacer una
            visita espontánea al campo de golf local. Los golfistas se
            sorprendieron al ver a las vacas pastando pacíficamente en el césped
            verde mientras intentaban jugar.
          </p></a
        ><a
          class="item-with-image magazine with-border"
          href="javascript:void(0)"
        >
          <h4>Torneo de Botes en Lago Zancudo</h4>
          <p>
            Entusiastas de la velocidad acuática se reunieron en el Lago Zancudo
            para participar en un emocionante torneo de carreras de botes. Los
            competidores demostraron sus habilidades navegando a toda velocidad
            por las aguas turbulentas, mientras los espectadores animaban desde
            la orilla.
          </p></a
        ><a class="item-with-image style" href="javascript:void(0)">
          <h4>Hombre Volador Sighting en Vinewood</h4>
          <p>
            Testigos afirman haber visto a un hombre volando sobre los
            rascacielos de Vinewood usando lo que parecían ser mochilas
            propulsoras. Las autoridades están investigando el incidente
            mientras los residentes especulan sobre la identidad del misterioso
            "hombre volador".
            <em
              >Fue increíble. Estaba caminando por la acera y de repente vi a
              este tipo volando por encima de mí, pensé que estaba
              alucinando.</em
            >. - Testigo Anónimo.
          </p></a
        ><a class="item-with-image toggles" href="javascript:void(0)"
          ><img
            src="https://media.discordapp.net/attachments/1204830926434078750/1205749196494348309/mundstock_realistic_and_detailed_cartoon_style_a_militar_helico_a73a169b-2d07-4655-a196-b262bc7d1964.png?ex=65d98072&is=65c70b72&hm=dce5e58fd0f67b12b2815e7f7bb8913740c9317d975620bec0e452e910435233&=&format=webp&quality=lossless&width=445&height=445"
          />
          <h4>Helicóptero Desaparecido en el Monte Chiliad</h4>
          <p>
            Autoridades reportan la misteriosa desaparición de un helicóptero
            privado que sobrevolaba el Monte Chiliad. Aunque se desplegó un
            equipo de búsqueda y rescate, no se han encontrado rastros del
            aparato ni de sus ocupantes.
          </p></a
        ><a class="menu" href="javascript:void(0)">
          <figure>
            <img
              src="https://media.discordapp.net/attachments/1204830926434078750/1205746250587045988/mundstock_realistic_and_detailed_cartoon_style_a_long_distance__f82b3cac-1247-40ff-8105-8f4da07405dd.png?ex=65d97db3&is=65c708b3&hm=609272e358514e2840aa997cff8d94816a903d60faeea88a550c331b5b654c46&=&format=webp&quality=lossless&width=445&height=445"
            />
            <figcaption>Fotografía tomada por un Ciudadano Anónimo</figcaption>
          </figure></a
        ><a class="social" href="javascript:void(0)"
          ><img
            class="social__image"
            src="https://media.discordapp.net/attachments/1204830926434078750/1205751061844074546/mundstock_realistic_and_detailed_cartoon_style_uncle_sam_dresse_adb12e23-b1be-4c6c-a615-fcb221754697.png?ex=65d9822e&is=65c70d2e&hm=1773fb4a4a73207b4141e6363c6a5022a7fa35632aceff558a2dd3f67174ff3b&=&format=webp&quality=lossless&width=778&height=445"
          />
          <div class="social__subtitle">
            Únete a la LSDP y Sirve a Los Santos
          </div>
          <div class="social__content">
            La Ciudad necesita héroes comprometidos que estén dispuestos a
            proteger y servir. Únete a la Los Santos Police Department (LSDP) y
            conviértete en un guardián de la paz en nuestras calles. ¡Tu
            comunidad te necesita! Enlistate hoy mismo y haz una diferencia.
          </div></a
        >
        <div class="item-with-image cssgrid-collection">
          <a class="cssgrid-collection__image" href="javascript:void(0)"
            ><img
              class="small__wide"
              src="https://media.discordapp.net/attachments/1204830926434078750/1205755712307732540/mundstock_realistic_and_detailed_cartoon_style_a_group_of_repor_3f2cdd94-477b-4340-8dd4-331c81f4594c.png?ex=65d98683&is=65c71183&hm=2f512c24333821985f34fcffeec398d2117cb2cb3ae759f9588da8e166a3608d&=&format=webp&quality=lossless&width=531&height=531"
          /></a>
          <div class="cssgrid-collection__content">
            <h4>
              <a href="javascript:void(0)"
                >Compromiso de Weazel News con Los Santos
              </a>
            </h4>
            <div class="multi-column-3">
              <p>
                En Weazel News, nos tomamos en serio la responsabilidad de
                informar a los ciudadanos de Los Santos sobre los eventos que
                dan forma a nuestra comunidad. Valoramos profundamente la
                privacidad de nuestros lectores y nos comprometemos a protegerla
                en todo momento. Nuestro equipo de periodistas altamente
                capacitados se esfuerza por mantener los más altos estándares de
                integridad y transparencia en cada artículo que publicamos.
                Creemos en el poder de la información para empoderar a las
                personas y promover un diálogo constructivo en nuestra ciudad.
                Desde noticias de última hora hasta reportajes de investigación
                exhaustivos, nos esforzamos por proporcionar una cobertura
                completa y precisa de todos los aspectos de la vida en Los
                Santos. Además, nos comprometemos a actuar con imparcialidad y
                objetividad en todas nuestras noticias, asegurando que nuestros
                lectores reciban una perspectiva equilibrada y completa de los
                acontecimientos.
              </p>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <h3 class="title--big">Ofertas de la Semana</h3>
          <a class="codepen-item pie" href="javascript:void(0)"
            ><img
              class="pie__image"
              src="https://media.discordapp.net/attachments/1204830926434078750/1205733337952550964/mundstock_realistic_and_detailed_cartoon_style_a_hippie_holding_499ab277-6fb2-49a6-8af9-f8d8210eea07.png?ex=65d971ad&is=65c6fcad&hm=6f1f77f5414f5cac7f21902c3dc0d51cce3561c227bf716d41f06a8be812b6c1&=&format=webp&quality=lossless&width=445&height=445"
            />
            <div class="pie__subtitle">OTROS</div>
            <div class="pie__content">
              <h4>¡Smoke on the Water - Tu Destino para Cannabis Medicinal!</h4>
              <p>
                No man is left behind. There's infinite pie with this one div
                and a repeating background.
              </p>
            </div></a
          ><a class="sidebar-item captcha" href="javascript:void(0)">
            <h5>Escultura Gigante de Bigfoot</h5>
            <p>
              Los rumores sobre la existencia de Bigfoot cobraron vida cuando un
              grupo de excursionistas tropezó con una misteriosa escultura
              gigante oculta en el denso bosque de Paleto. Aunque algunos creen
              que es solo una broma elaborada, otros sostienen que es una señal
              de la presencia real de la legendaria criatura.
            </p></a
          ><a
            class="sidebar-item slack-ui with-border"
            href="javascript:void(0)"
          >
            <h5>Promociona tu Negocio</h5>
            <p>
              ¿Tienes un negocio en Los Santos y quieres aumentar tu
              visibilidad? ¡Entonces este es el lugar para ti! Nuestra
              plataforma te ofrece la oportunidad de promocionar tu negocio ante
              una amplia audiencia en toda la ciudad. Ven a nuestras oficinas en
              Palomino Avenue, Lindsay Circus y Calais Avenue en Little Seoul.
            </p></a
          ><a class="workout" href="javascript:void(0)">
            <div class="workout__image">
              <img
                src="https://media.discordapp.net/attachments/1204830926434078750/1205744662980206613/mundstock_realistic_and_detailed_cartoon_style_a_cult_inside_a__ab42d509-1951-424d-9922-3ac0f4aac9ed.png?ex=65d97c39&is=65c70739&hm=72e174aae4a1aa745523076b1f3e008bc89ceca77faec2aa0738f81344201641&=&format=webp&quality=lossless&width=445&height=445"
                alt="Workout"
              />
            </div>
            <div class="workout__blurb">EN POS DE LA VERDAD ABSOLUTA</div>
            <div class="workout__title">únete a este movimiento!</div></a
          >
        </div>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./src/main.js"></script>
  </body>
</html>
